@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

$font-family: 'Amatic SC', sans-serif;
$color-black: #1F2122;
$color-dark-black: #000;
$color-white: #fff;
$color-beige: rgb(255, 240, 219);

:root {
  font-family: $font-family;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;

  color: $color-black;
  background-color: $color-beige;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --max-width: 1200px;
  --border-radius-40: 40px;
  --font-size-18: 18px;
  --font-size-28: 28px;
  --font-family: 'Amatic SC', sans-serif;

  --primary-color: #1F2122;
  --secondary-color: #fff;
  --third-color: rgb(255, 240, 219);

  --background-color: var(--primary-color);
  --text-color: var(--secondary-color);

  --size-h1: 68px;

  --space-xs: 5px;
  --space-s: 20px;
  --space-m: 40px;
  --space-l: 60px;
  --space-xl: 80px;
}

img {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.hello-mole {
  width: 150px;
  position: fixed;
  top: -65px;
  left: 0;
  transform: rotate(180deg);
  transition: ease-in, .2s;
  cursor: pointer;

  &:hover {
    top: -30px
  }
}

.bold, b {
  font-weight: 700;
}

h1 {
  font-size: var(--size-h1);
  font-weight: 700;
  margin-bottom: var(--space-m);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;

  .App {
    height: calc(100vh - 2rem - 2px);
    max-width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    position: relative;
  }
}