@import '../../assets/css/config.scss';

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: var(--space-m);

    > .game-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 80px;
        margin: 0 15px;
        overflow: hidden;
        margin-bottom: var(--space-s);

        @include tablet {
            width: 200px;
            height: 150px;
        }

        &::before {
            content: "";
            background: url("../../assets/img/hole-top.png") bottom center no-repeat transparent;
            background-size: contain;
            width: 100%;
            height: 34px;
            position: absolute;
            bottom: 10px;
            z-index: -1;

            @include tablet {
                bottom: 18px;
            }
        }

        &::after {
            content: "";
            background: url("../../assets/img/hole-bottom.png") bottom center no-repeat rgb(255, 240, 219);
            background-size: contain;
            width: 100%;
            height: 11px;
            position: absolute;
            bottom: 0px;
            z-index: 1;

            @include tablet {
                height: 18px;
            }
        }

        &.up {
            .hit-item {
                top: 0;
            }
        }

        > .layer,  > .hit-item {
            position: absolute;
        }

        > .layer {
            max-width: 300px;
            z-index: 2;
            bottom: -25px;
        }

        > .hit-item {
            cursor: pointer;
            max-width: 50px;
            top: 100%;
            transition: ease-in, .5s;

            @include tablet {    
                max-width: 100px;
            }
        }

        > .pow {
            max-width: 80px;
            z-index: 3;
            transform: translate(50px, 10px);
        }
    }
}